body {
  font-family: Arial, sans-serif;
  margin: 5%;
  padding: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.container {
  display: flex;
  flex-direction: column; /* Stack song boxes vertically */
  align-items: center; /* Center song boxes horizontally */
  justify-content: center; /* Center song boxes vertically */
  gap: 10px; /* Space between song boxes */
  width: 50%;
}

h1 {
  text-align: center;
  grid-column: span 4; /* Make the header span all columns */
  color: rgb(255, 255, 255);
}

.song-box {
  background-color: #111010;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  text-align: center; /* Center text inside the song box */
  width: 40%;
}

.song-box:hover {
  transform: scale(1.05);
}

/* Define sizes for song boxes */
.small {
  grid-column: span 1; /* Small box takes 1 column */
}

.medium {
  grid-column: span 2; /* Medium box takes 2 columns */
}

.large {
  grid-column: span 4; /* Large box takes all columns */
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for mobile */
  }
  body {
    margin-top: 30%;
  }
  .song-box {
    width: 100%; /* Make sure boxes take full width */
  }

  /* Adjust song box sizes for mobile */
  .one {
    grid-column: span 1;
  }

  .two {
    grid-column: span 2;
  }

  .three {
    grid-column: span 2;
  }

  .four {
    grid-column: span 1;
  }

  .five {
    grid-column: span 2;
  }

  .six {
    grid-column: span 2;
  }

  .seven {
    grid-column: span 1;
  }

  .eight {
    grid-column: span 2;
  }

  .nine {
    grid-column: span 2;
  }

  .ten {
    grid-column: span 2;
  }

  /* Adjust even-numbered boxes to be lower in mobile view */
  .song-box:nth-child(even) {
    margin-top: 10px; /* Adjust this value to control how much lower */
  }
}

.audio-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px;
  display: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-container {
  width: 80%;
  height: 5px;
  background-color: #e0c7c72c;
  margin-right: 10px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #fff;
  transition: width 0.1s linear;
}

button {
  background-color: rgb(27, 26, 26);
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  margin-right: 9%;
}

button:hover {
  color: #ccc;
}
